<% layout('layout') %>

<% if(imageList.length){ %>
  <div class="white-bg">
      <ul class="main-list">
          <% imageList.forEach(function(imageItem) { %>
              <li class="img_main-list__item">
                <div class="image_list">
                   <% if (imageItem.image_path) { %>
                      <a href="<%= imageItem.image_path %>" class="imageList_img" style="background-image: url(<%= imageItem.image_path %>);">
                      </a>
                   <% } %>

                </div>
              </li>
          <% }); %>
      </ul>
  </div>
<% } %>

<% if (typeof user !== 'undefined') { %>
    <span class="login-user"><%= user.user_name %>さんとしてログインしています</span>
<% } %>
