<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
<div class="wrapper">
    <%- body %>
    <% if (typeof user !== 'undefined') { %>
      <div id="header-fixed">
             <div id="header-bk">
               <img src="images/header.png" alt="">
             </div>
      </div>
        <a href="/logout" class="btn_logout">ログアウト</a>
        <div id="footer-fixed">
                <div id="footer-bk">
                       <div class="tab">
                         <ul>
                           <a href="/home">
                             <li class="tab__list">
                               <img src="/images/king.png" class="tab__images" alt="">
                               <br clear="left">
                               <span>ランキング</span>
                             </li>
                           </a>
                           <a href="/home">
                             <li class="tab__list">
                               <img src="/images/new.png" class="tab__images2" alt="">
                               <br clear="left">
                               <span>新着</span>
                             </li>
                           </a>
                           <a href="/">
                             <li class="tab__list">
                               <img src="/images/chat.png" class="tab__images" alt="">
                               <br clear="left">
                               <span>チャット</span>
                             </li>
                           </a>
                           <a href="/profile/<%= user.user_id %>">
                             <li class="tab__list">
                               <img src="/images/profile.png" class="tab__images3" alt="">
                               <br clear="left">
                               <span>マイプロフィール</span>
                             </li>
                           </a>
                         </ul>
                       </div>
                </div>
         </div>
    <% } else { %>
        <a href="/register" class="btn">会員登録</a>
        <a href="/login" class="btn">ログイン</a>
    <% } %>
</div>
</body>
</html>
