
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
   Base
*/

html {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    word-wrap: break-word;
    font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    background-color: #fafafa;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: middle;
    -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i { display: inline-block; }
input, textarea, button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    -webkit-appearance: none;
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*
   Main
*/

.wrapper {
    /*padding: 10px 10px 37px;*/
}
.main-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.main-list__item {
    margin-top: 10px;
    overflow: hidden;
}
.main-list__item:first-child {
    margin-top: 0;
}
.board {
    display: block;
    padding: 10px;
    border: 1px #ccc solid;
    background-color: #fff;
}
.board__title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.board__date {
    font-size: 12px;
    color: #ccc;
    text-align: right;
}
.white-bg {
    padding: 10px;
    height: 70vmin;
    border: 1px #ccc solid;
    background-color: #fff;
    overflow: hidden;
    overflow: scroll;
    margin-top: 10px;
}
.ranking{
  margin-top: 12vmin;
  text-align: center;
  font-size: 7vmin;
}
.message__image {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
    background-size: cover;
    background-position: center;
}
.img_main-list__item{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 20px;
      width: 15%;
      height: 250px;
      float: left;
}
.imageList_img{
  display: block;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.image_list{

}
.message__title {
}
.message__date {
    font-size: 10px;
    color: #ccc;
    text-align: right;
}
.board-form {
    margin: 20px 0;
    text-align: center;
}
.login-user {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    border: 1px #ccc solid;
    background-color: #fff;
}
.input {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    vertical-align: middle;
    border: 1px #ccc solid;
    background-color: #fff;
}
.file-wrap {
    position: relative;
    padding: 10px 30px;
    margin: 4px auto 0;
    width: 200px;
    overflow: hidden;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    border-radius: 5px;
    background-color: #008b8b;
    box-sizing: border-box;
}
.file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.label {
  width: 100px;
}
.btn {
    display: inline-block;
    padding: 5px;
    margin: 10px 0 0 10px;
    border: 1px #ccc solid;
    border-radius: 5px;
    background-color: #fff;
}
.btn_logout{
  display: inline-block;
  padding: 5px;
  margin: 10px 0 30px 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  background-color: #fff;
}
.error {
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    color: #fff;
    background-color: #F08080;
}
.submit {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    border: 1px #ccc solid;
    background-color: #fff;
    -webkit-appearance: none;
}

.message__title{
  text-align: center;
  font-size: 6vmin;
}

div#header-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 40px;          /* 縦幅140px */
}

#header-bk img{
  width: 10%;

}
div#header-bk {
	background-color:#FFFFFF;     /* 背景色(黒) */
	height:40px;              /* 縦の高さ110px */
	width:100%;
  text-align: center;
  font-size: 5vmin;
}
#header-bk p{
    line-height: 6vmin;
}


div#header {
	border: 5px solid #fff;    /* 表示領域を白枠で囲う */
	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 960px;              /* 横の幅970px */
	margin: auto;              /* 中央揃え */
}

div#footer-fixed
{
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/            /* 縦幅140px */
}

div#footer-bk
{
	background-color:#FFFFFF;     /* 背景色(黒) */
	height:60px;              /* 縦の高さ140px */
	width:100%;                /* 横の幅を100% */
}

div#footer {
	border: 5px solid #fff;    /* 表示領域を白枠で囲う */
	height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 100%;              /* 横の幅970px */
	margin: auto;              /* 中央揃え */
}
.tab{
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin-left: 0vmin;
}
.tab__list{
  width: 25vw;
  float: left;
  height: 60px;
  line-height: 85px;
  box-sizing: border-box;
  border: 1px solid #000000;
  margin: auto;
  overflow: hidden;
  font-size: 3vmin;
}
.tab__images{
  position: relative;
  top:-5vmin;
  width:10vmin;
  height: 10vmin;
}
.tab__images2{
  position: relative;
  top:-5vmin;
  left:2.5vmin;
  width:7vmin;
  height: 7vmin;
}
.tab__images3{
  position: relative;
  top:-5vmin;
  width:8vmin;
  height: 8vmin;
}
.tab__images::after{
  content: " あああ ";
}
.tab__list span{
  position: relative;
top: -80px;
}
.profile{
  margin-top:8vmin;
}
.profile__name__text{
  text-align: center;
  font-size: 7vmin;
  margin-bottom: 2vmin;
}
.profile__img{
  text-align: center;
  margin-bottom: 2vmin;
}
.profile__img__{
  width: 50%;
}
.profile__discription{
  display: block;
  font-size: 3vmin;
  width: 60%;
  margin: auto;
}
.profile__discription__gendar{
  margin-bottom: 2vmin;
}
.profile__discription__location{
  margin-bottom: 2vmin;
}
.profile__discription__text{
  margin-bottom: 2vmin;
}
.chat{
  margin: 5vmin 0 5vmin 0;
  text-align: center;
  font-size: 4vmin;
}
.right{
  text-align: right;
  margin-right: 3vmin;
}
#balloon-1-right {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 115px;
	height: auto;
	line-height: 40px;
	color: #19283C;
	text-align: center;
	background: #F6F6F6;
	border: 3px solid #19283C;
	z-index: 0;
  margin-left: auto;
}
#balloon-1-right:before {
	content: "";
	position: absolute;
	top: 50%; right: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #F6F6F6;
	z-index: 0;
}
#balloon-1-right:after {
	content: "";
	position: absolute;
	top: 50%; right: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #19283C;
	z-index: -1;
}
#balloon-1-left {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 115px;
	height:auto;
	line-height: 40px;
	color: #19283C;
	text-align: center;
	background: #F6F6F6;
	border: 3px solid #19283C;
	z-index: 0;
  margin-left: 3vmin;
}
#balloon-1-left:before {
	content: "";
	position: absolute;
	top: 50%; left: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #F6F6F6 transparent transparent;
	z-index: 0;
}
#balloon-1-left:after {
	content: "";
	position: absolute;
	top: 50%; left: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #19283C transparent transparent;
	z-index: -1;
}
.message__date__left{
  font-size: 10px;
  color: #ccc;
  margin-left: 3vmin;
  text-align: left;
}
@media screen and (max-width: 660px){
  #header-bk img{
    width: 40%;
  }
  .white-bg {
    padding: 10px;
    height: 68vh;
    border: 1px #ccc solid;
    background-color: #fff;
    overflow: hidden;
    overflow: scroll;
    margin-top: 10px;
}
.img_main-list__item {
    margin-top: 10px;
    margin-bottom: 5vmin;
    margin-right: 2vmin;
    margin-left: 2vmin;
    width: 45%;
    height: 250px;
    float: left;
  }
  .imageList_img {
      display: block;
      margin-bottom: 10px;
      margin-right: 20px;
      width: 100%;
      height: 70vmin;
      background-size: cover;
      background-position: center;
  }
  .profile__name__text {
    text-align: center;
    font-size: 9vmin;
    margin-top: 10vmin;
    margin-bottom: 2vmin;
  }
  .profile__discription {
    display: block;
    font-size: 5vmin;
    width: 80%;
    margin: auto;
    margin-top: 6vmin;
}
}
